HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### GIGE IDE ###
/.gigaide/
/node_modules/
/src/test/resources/
/src/test/java/hexlet/code/UserTest.java
/src/test/java/hexlet/code/model/
/src/test/java/project/
/src/test/java/hexlet/code/LabelTest.java
/src/test/java/hexlet/code/TaskStatusTest.java
/src/test/java/hexlet/code/TaskTest.java
/src/test/java/hexlet/code/testUtil/
